<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bio<span class="glyphicon glyphicon-adjust"></span>Commons</a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                {% assign sorted_pages = site.pages | sort:"order" %}
                {% for node in sorted_pages %}
                {% if node.title != null %}
                {% if group == null or group == node.group %}
                {% if page.url == node.url or node.url contains page.category %}
                <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
                {% else %}
                <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
