<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ BASE_PATH }}/index.html">Bio<span class="glyphicon glyphicon-adjust"></span>Commons</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">

                {% for node in site.data.nav %}

                <!-- check to see if the data file has a submenu, and if so display it -->
                {% if node.subcategories != null %}
                    {% if page.url == node.href or page.url contains node.href%}
                        <li class="active dropdown">
                    {% else %}
                        <li class="dropdown">
                    {% endif %}
                    <a href="{{ BASE_PATH }}{{ node.url }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ node.title }}<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        {% for subcategory in node.subcategories %}
                        {% if page.url == subcategory.subhref %}
                        <li class="active">
                            {% else %}
                        <li>
                        {% endif %}
                        <a href="{{ BASE_PATH }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}

                    <!— display the top level navigation for items that don’t have a submenu -->
                {% if page.url == node.href %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                <a href="{{ BASE_PATH }}{{ node.href }}">{{ node.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>